:root{
  --orange-color: #fa6400;
  --white-color: #f4f5f6;
  --gray-color: #ededed;
  --black-color: #292929;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.hero{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
  width: 140px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background: var(--white-color);
  color: var(--orange-color);
  font-weight: 900;
  margin-top: 15px;
  cursor: pointer;
}

.banner-container{
  width: 90%;
  height: 260px;
  background: url('../public/assets/banner-bg.png') no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding-left: 25px;
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.banner-container .banner-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-container .banner-image{
  padding-right: 15px;
}

.banner-container .banner-title{
  font-weight: 900;
  font-size: 2.0em;
  color: var(--black-color);
}

.banner-container .banner-subtitle{
  font-weight: 700;
  font-size: 1.6em;
  color: var(--white-color);
}

.hero-container{
  width: 90%;
  margin-top: 35px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-container .hero-title{
  text-align: center;
  font-weight: 900;
  color: var(--black-color);
}

.hero-container .hero-food-list{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero-container .hero-toggle-btn{
  width: 70px;
  height: 70px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-toggle-btn button{
  width: 80px;
  height: 80px;
  border-radius: 15px;
  border: none;
  outline: none;
  background: var(--orange-color);
  color: var(--white-color);
  font-weight: 900;
  font-size: 2em;
  cursor: pointer;
}

.food-container{
  width: 240px;
  height: 310px;
  background: var(--gray-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin: 15px;
  color: var(--black-color);
}
.food-container .food-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: var(--black-color);
}

.food-detail .counter{
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.food-detail .counter button{
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

.counter .counter-label{
  font-weight: 900;
  font-size: 1.2em;
  color: var(--black-color);
}

.food-container .counter{
  display: flex;
  justify-content: center;
  align-content: center;
}

.counter button{
  border: none;
  background: var(--orange-color);
  color: var(--white-color);
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.counter button:hover{
  background: rgb(161, 52, 13);
  color: rgb(179, 179, 179);
}

.food-detail .food-price{
  font-size: 1.2em;
  font-weight: 700;
}

.food-detail .addcart-btn{
  background: var(--orange-color);
  color: var(--white-color);
}

.cart-overlay{
  width: 100%;
  height: 100vh;
  background: rgba(69, 69, 69, 0.633);
  position: fixed;
  inset: 0;
}

.cart-container{
  width: 45%;
  height: 100vh;
  background: var(--white-color);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
}

.cart-container .cart-items{
  overflow-y: scroll;
  width: 100%;
  height: 73%;
}

.cart-container .cart-items::-webkit-scrollbar{
  display: none;
}

.cart-container .cart-text{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart-text button{
  width: 30px;
  height: 30px;
  margin: 0 15px;
  background: none;
  border: none;
  outline: none;
  font-weight: 900;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cart-text h1{
  font-size: 1.4em;
  font-weight: 500;
}

.cart-text h1 span{
  font-size: 0.8em;
  padding-left: 5px;
  color: var(--orange-color);
}

.cart-container .cart-btn{
  width: 90%;
  height: 45px;
  position: absolute;
  bottom: 25px;
  left: 5%;
  background: var(--orange-color);
  color: var(--white-color);
}

.cart-container .cart-total-price{
  padding-left: 5%;
  padding-top: 10px;
}

.citem-container{
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  border-bottom: 2px solid rgb(218, 218, 218);
  color: var(--black-color);
}

.citem-container:last-child{
  border: none;
}

.citem-detail p{
  font-weight: 700;
}

.citem-detail span{
  font-weight: 500;
}

.citem-detail .citem-name{
  font-size: 1.2em;
}

.citem-total-price h1{
  font-size: 1.8em;
  font-weight: 700;
}

.citem-container .citem-delete-btn{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: var(--white-color);
  background: rgb(241, 30, 62);
  font-weight: 700;
  cursor: pointer;
}


@media screen and (max-width: 800px) {
  .banner-container{
  width: 90%;
  height: 260px;
  background: url('../public/assets/banner-bg.png') no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding-left: 25px;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  }
  .cart-container {
    width: 100%;
  }
}
